html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

html {
    background: #eee;
}

body {
    font-family: "Open Sans", sans-serif;
    color: #393838;
}

#hamburger {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    background: white;

    position: absolute;
    top: 0.5rem;
    left: 1.5rem;
    font-size: 2rem;
    line-height: 3rem;
    width: 3rem;
    border-radius: 5px;
    padding: 0;
    margin: 0;
    outline: 0;
}

nav, main {
    height: 100%;
    box-sizing: border-box;
}

nav {
    background: #578cdb;
    color: #FFF;

    position: absolute;
    z-index: 1;

    padding: 1.5em;
    width: 80%;
}

nav > .logo {
    font-size: 150%;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav a {
    color: inherit;
    font-size: larger;
    text-decoration: none;
    display: block;
}

html:not([aria-busy=true]) nav li[aria-selected=true],
html[aria-busy=true] nav a:focus {
    background: #FFF;
    color: black;
}

@keyframes slide-in {
    from { transform: translate3d(-100%,0,0); }
    to { transform: translate3d(0,0,0); }
}

main {
    background: #FFF;
    padding: 1.5em;
}

html[aria-busy=true] main {
    pointer-events: none;
}

html[aria-busy=true]::before {
    content: url(spinner.svg);
    border: 1px solid;
    opacity: 0.5;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate3d(-50%, -50%, 0);
}

main a:link {
    color: #578cdb;
}

@media only screen and (max-width: 600px) {
    main {
        padding-top: 4rem;
    }

    nav {
        transform: translate3d(-100%, 0, 0);
        transition: transform 0.3s ease-in-out;
    }

    #hamburger:hover + nav,
    #hamburger:focus + nav {
        transform: translate3d(0, 0, 0);
    }
}

@media only screen and (min-width: 600px) {
    body {
        width: 55rem;
    }

    #hamburger {
        visibility: hidden;
    }

    main {
        margin-left: 15em;
        width: 40em;
        border-right: 1px solid gray;
        animation-duration: 0.3s;
        animation-timing-function: ease-in-out;
    }

    html[aria-busy] main {
        animation-name: slide-in;
    }

    nav {
        width: 15em;
    }
}
